* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  color: rgb(217, 151, 197);
  font-size: 26px;
  font-weight: bold;
  padding: 0 8px;
  border-bottom: solid 3px;
  margin: 16px 0 8px;
}

.LoveForYumiri {
  font-size: 160%;
  font-weight: bold;
}

.CountDownContainer {
  background-color: rgba(217, 151, 197, .9);
  color: #fff;
  padding: 8px 16px;
}

.CountDownContainer .Text {
  font-size: 24px;
  max-width: 700px;
  margin: 0 auto;
}

.CountDownContainer .Text span {
  margin: 0 2px;
}

.CountDownContainer .RemainingTime {
  text-align: right;
  max-width: 700px;
  margin: 0 auto;
}

.CountDownContainer .TimeFragment {
  display: inline-block;
  margin-right: 12px;
}

.CountDownContainer .TimeFragment .Value {
  font-size: 250%;
  margin-right: 4px;
  font-weight: bold;
}

.CountDownContainer .TimeFragment .Suffix {
}

.SiteDescriptionContainer {
  text-align: center;
  margin: 32px 0;
  color: rgb(217, 151, 197);
  line-height: 2em;
}

.SiteDescriptionContainer p {
  max-width: 440px;
  margin: 0 auto;
}

.SiteDescriptionContainer a {
  color: rgb(217, 151, 197);
}

.SiteDescriptionContainer a:hover {
  color: rgb(115, 80, 104);
}

.HappyBirthdayContainer {
  text-align: center;
  margin: 132px 0;
  color: rgb(217, 151, 197);
  line-height: 2em;
}

.HappyBirthdayContainer .Message {
  font-weight: bold;
  font-size: 32px;
}

.OrderButtonWrapper {
  margin-top: 24px;
}

.OrderButtonWrapper .Button {
  height: 32px;
}

.OrderButtonWrapper .Message {
  font-size: 16px;
}

.GameContainer {
}

.GameContainer .IframeContainer {
  overflow: hidden;
}

.GameContainer iframe {
  transform-origin: top left;
  -webkit-transform-origin: top left;
}

.GameContainer .GameDescription {
}

.YakitoriListContainer {
  margin-bottom: 24px;
}

.YakitoriListContainer .ListCaption {
  font-size: 20px;
  background-color: #aa97d8;
  color: #fff;
  padding: 0 8px;
}

.YakitoriList {
  list-style-type: none;
  width: 100%;
  border-spacing: 0;
}

.YakitoriList .YakitoriListItem {
  font-size: 24px;
  color: rgb(217, 151, 197);
  font-weight: bold;
}

.YakitoriList .YakitoriListItem:nth-child(even) {
  background-color: #eee;
}

.YakitoriList .YakitoriListItem[data-rank="1"] {
  font-size: 300%;
}

.YakitoriList .YakitoriListItem[data-rank="2"] {
  font-size: 220%;
}

.YakitoriList .YakitoriListItem[data-rank="3"] {
  font-size: 180%;
}

.YakitoriList .YakitoriListItem .ItemRank {
  text-align: right;
  width: 100px;
}

.YakitoriList .YakitoriListItem .ItemName {
  padding: 0 12px;
}

.YakitoriList .YakitoriListItem .ItemNum {
  text-align: right;
  padding-right: 8px;
}

.EatableList {
  margin-bottom: 8px;
}

#twitter-widget-0 {
  width: 100% !important;
  padding: 0 48px !important;
}

.SiteFooterContainer {
  background-color: rgba(217, 151, 197, .9);
  color: #fff;
  text-align: right;
  height: 42px;
}

.SiteFooterContainer .TwitterShareButton {
  display: inline-block;
  background-color: #55acee;
  border-radius: 6px;
  margin: 6px 16px 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.SiteFooterContainer .TwitterShareButton img {
  width: 100%;
  height: 100%;
}

.SiteFooterContainer .Copyright {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  vertical-align: top;
  margin-right: 12px;
}

.SiteFooterContainer a {
  text-decoration: none;
  color: #fff;
}

.SiteFooterContainer a:hover {
  color: #ccc;
}

@media screen and (max-width: 530px) {
  .CountDownContainer .Text {
    font-size: 16px;
  }

  .CountDownContainer .RemainingTime {
    font-size: 10px;
  }

  .YakitoriList .YakitoriListItem {
    font-size: 18px;
  }

  .YakitoriList .YakitoriListItem[data-rank="1"] {
    font-size: 220%;
  }

  .YakitoriList .YakitoriListItem[data-rank="2"] {
    font-size: 180%;
  }

  .YakitoriList .YakitoriListItem[data-rank="3"] {
    font-size: 140%;
  }
}
